body {
    front-family: Arial, sans-serif;
    margin: 0;
    color: #000000;
    padding-top: 60px;
    }
nav {
    position: fixed;
    top: 0;
    left: 5;
    width: 100%;
    background-color: #f1ececa2;
}

.menu-item {
    text-decoration: none;
    color: rgb(10, 1, 1);
    padding: 15px;
    display: inline-block;
}
.menu-item:hover {
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
}
header {
    background-color: #000000;
    color: #000000a2;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
#acerca-de-mi{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(254, 254, 255);
}
#habilidades ul {
    list-style: none;
    padding: 0%;
}
#habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px splid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}
#experiencia ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}
#experiencia ul li{
    margin-bottom: 10px;
}
#contacto ul {
    list-style: none;
    padding: 0%;
    margin-top: 10px;
}
#contacto li{
    margin-bottom: 10px;
}
#sociales{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
#sociales li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}
.fa {
    color: #333;
    text-decoration: none;
    margin-left: 5px;
}
footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
}